<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selectfoods">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelectFoods"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity3"/>
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5dd8d7fc4be3fba8cac36d171e2cc90e" />

        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcEdJ3sCKHEtT6FKuBru5dVEvRMuQMi6c" />-->

    </application>

</manifest>